<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>Le Giga-Quiz Du Segpa &#128563</title>
		<link rel="stylesheet" href="/static/deco.css">
	</head>
    <body>
        <h1>Salut les Segpas!</h1>
        <p>Bienvenue sur ma page web dans laquelle vous pourrez vous tester avec un Quizz, conçu par mes soins.</p>
        <p>Ce Quiz permet de vous tester sur les domaines suivants:</p>

        <ul id="u1">
            <li>Les Sciences de la Vie et de la Terre</li>
            <li>Les Mathématiques</li>
            <li>La Culture Générale</li>
            <li>La Musique</li>
            <li>L'Espagnol (car personne ne fait allemand et je méprise les personnes qui font italien et portugais)</li>
        </ul>

        <p>Une fois toutes les questions répondues, vous aurez vos résultats en taux de réussite (%). Bien évidemment, si vous avez un taux de réussite inférieur à 60%, je pense que vous êtes en mesure de finir au chômage.</p>
        
        <div class="Suivant">
            <h1>Bref, trèves de blablas, cliquez sur l'image ci-dessous pour vous diriger vers le test!</h1>
            <a href="questions"><img id="image" src="/static/images/MamaHuevo.png"/></a>
        </div>

        <div class="Click">
        <h1>Meilleur site du monde, créé par l'incroyable homme que je suis.</h1>
        </div>
        
    </body>
</html>
