<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>Le Giga-Quiz Du Segpa &#128563</title>
		<link rel="stylesheet" href="/static/deco.css">
	</head>
    <body>
        <div class="Règles">
            <p style="float: left;"><a href="/"><img id="image2" src="/static/images/back.png"/></a></p>
			<h1>Affronte mon regard (t'as fini le Quiz)</h1>
        </div>		
        <img id="Cr" src="/static/images/SiphaDrip.png"/>
        <h2 id="Resultats">Vous pouvez recommencer le questionnaire, toutes vos saisies ont été supprimées!</h2>
        <br>
        <p>POV: Moi expliquant au prof que mon projet est pas un plagiat (**tousse** Avion **tousse**) </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/eqsKpyexrWU?start=41" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </body>
</html>