h1
{	
	text-align: left;
	background-color: black;
	font-family: Arial,Helvetica,sans-serif;
	color: white;
	border-style: solid;
    border-color: black;
}
#Resultats
{	
	background-color: black;
	font-family: Arial,Helvetica,sans-serif;
	color: orange;
	border-style: solid;
    border-color: black;
}

html
{	
	background-color: black;
	
}

p
{
	font-family: Arial,Helvetica,sans-serif;
	color: orange;
	background-color: black;
}

label
{
	font-family: Arial,Helvetica,sans-serif;
	color: orange;
	background-color: black;
}

img
{
	border-style: solid;
	border-color: orange;
	border-width: 1px;
}

a
{	
	font-family: Arial,Helvetica,sans-serif;
	color: white;
	background-color: black;

}

ul
{
	font-family: Arial,Helvetica,sans-serif;
	color: orange;
	background-color: black;
}

#u1
{
	font-family: Arial,Helvetica,sans-serif;
	color: white;
	background-color: black;
}

.Suivant #image
{
	display: block;
    margin-left: auto;
    margin-right: auto;
	border-style: solid;
	border-color: rgb(19, 18, 18);
	border-width: 1px;
}	

.Click h1
{
	text-align: center;
	color: orange;

}

.Règles #image2
{
	border-style: solid;
	border-color: rgb(19, 18, 18);
	border-width: 0px;
	margin-top: -50px;
}

.Règles h1
{
	text-align: center;
}

.QCM 
{
    border: 10px ridge rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

.QCM p
{
	color:black
}


.QCM2
{
    border: 10px ridge rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
}


#Resultat
{
	text-decoration: underline;
}

#label 
{
	width:30px;
	display: inline-block;
}

#Cr
{
	width:1000px;
	height:200px;
	border: none;
}

#Cr2
{
	width:1290px;
	height:400px;
	border: none;
}

audio#HAHA 
{
	position: absolute;
	top: 170px;
	left: 650px;
	z-index: 2;
	width: 100px;
	opacity: 0.07;
}

.styled 
{
    border: 0;
    line-height: 2.5;
    text-align: center;
	font-size: 35px;
	font-family: Arial,Helvetica,sans-serif;
    color: #1b1b1b;
    text-shadow: 1px 1px 1px #000;
    background-color: rgba(255,163,26, 1);
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover 
{
    background-color: rgba(233, 163, 106, 0.932);
}

.styled:active 
{
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}